.app {
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-card-100);
    transition: background-color 200ms ease;
    display: grid;
    grid-template-columns: 30rem 1fr;
}

.wrapper {
    background-color: var(--clr-bg-100);
}

.left-section {
    position: relative;
    z-index: 99;
    display: grid;
    grid-template-columns: min-content 1fr;
}

.main-section {
    position: relative;
    z-index: 9;
    background-color: var(--clr-bg-50);
}
